* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 30px;
  text-align: center;
}

.row {
  width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 33.33%;
  float: left;
}

.content {
  border: 1px solid black;
  padding: 10px;
  position: relative;
}

p {
  width: 100px;
  height: 40px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  position: absolute;
  top: 0;
  right: 0;
}

.dummy-text {
  margin-top: 40px;
}

#chicken p {
  background-color: #bc8f8f;
}

#beef p {
  background-color: #fa8072;
}

#sushi p {
  background-color: #f4a460;
}

/* Desktop view */
@media (min-width: 992px) {
  .container {
    width: 33.33%;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 50%;
  }
  #sushi {
    width: 100%;
  }
}

/* Mobile view */
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
